# Ignore node modules in all folders
node_modules
**/node_modules

# Ignore build outputs
dist
**/dist
build
**/build

# Ignore local logs and coverage reports
*.log
coverage
**/coverage

# Ignore Git (if not needed)
.git
.github
.devcontainer

crowdin.yml
README.md
ROADMAP.md
LICENSE